<div>
    <ul class="opponentHand" data-bind="foreach: opponentHand">
        <li data-bind="compose: { model: $data, view: 'views/opponentCard' }"></li>
    </ul>
    <div class="deck">
        <img src="/Content/images/Deck.png"/>
        <div class="deckCardBinding" data-bind="compose: { model: cards()[cards().length - 1], afterCompose: afterTopCardCompose }"></div>
    </div>
    <ul class="playerHand" data-bind="foreach: playerHand">
        <li data-bind="compose: { model: $data, view: 'views/playerCard' }">
        </li>
    </ul>
    <button data-bind="click: startNewGame">Start New Game</button>
</div>