.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: relative;
    top: 40px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.shell {
    background: url(images/woodBackground.jpg);
}

.playerHand, .opponentHand {
    overflow: hidden;
    height: 155px;
}

.playerHand li, .opponentHand li {
    list-style: none;
    margin-right: 10px;
    width: 100px;
    float: left;
}

.cardContainer {
    position: relative;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    height: 150px;
    width: 100px;
    z-index: 1;
}

.card {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg) skew(-18deg, -18deg) scale(.73) translate(-15px, 190px);
}

.cardFront,.cardBack {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
}

.cardFront {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.topRank {
    position: absolute;
    left: 3px;
    top: 1px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bottomRank {
    position: absolute;
    bottom: 5px;
    right: 5px;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.suit {
    font-size: 4em;
    position: absolute;
    top: 65px;
    left: 33px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardBack i, .opponentCard i {
    position: absolute;
    left: 15px;
    top: 45px;
}

.cardBack i {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 24px;
}

.playerCard, .opponentCard {
    position: relative;
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 5px;
}

.deckCardBinding {
    display: inline-block;
}

.deck {
    height: 300px;
}